<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>

        <h2> <%= name %></h2>

        <ul>
          <% data.forEach(function(category) { %>
            <% var url = "/catalog/items/" + category.department + "/" + category._id %>
            <li><a href=<%= url %> > <%= category.name %> </a></li>

          <% }); %>
        </ul>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
