<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ../../../../../Core/server/views/partials/header %>
</head>
<body class="container">

    <header>
        <% include ../../../../../Core/server/views/partials/menu %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to <%= store.title %></p>
        </div>

        <h2> Departments </h2>

        <ul>
          <% data.forEach(function(department) { %>
            <% var url = "/catalog/categories/" + department._id %>
            <li><a href=<%= url %> > <%= department.name %> </a></li>

          <% }); %>
        </ul>
    </main>

    <footer>
        <% include ../../../../../Core/server/views/partials/footer %>
    </footer>

</body>
</html>
