<!-- views/partials/footer.ejs -->
<!-- views/partials/footer.ejs -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" style="background-color:black;color:white">Social
         <ul>
           <li> Twitter </li>
           <li> Facebook </li>
           <li> Instagram </li>
           <li> Google+ </li>
           <li> Snapchat </li>
         </ul>
</div>
    <div class="col-sm-4" style="background-color:black;color:white">About us
       <ul>
           <li>About us</li>
           <li>Our philosophy </li>
           <li>Team </li>
           <li>Media </li>
           <li>Customer inquiries</li>

       </ul>
   </div>
    <div class="col-sm-4" style="background-color:black;color:white">Contact
       <ul>

         <li> 4, Terminal Blvd </li>
         <li> Mountain View </li>
         <li> CA 94040 </li>
         <li> United States </li>
         <li> +1 555 555</li>
      <ul>
</div>
  </div>
</div>
