<!-- views/partials/menu.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-euro"></span>
                <%= store.company %>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/"><%= i18n.__('Home') %></a></li>
            <li><a href="/about"><%= i18n.__('About') %></a></li>
            <li><a href="/contact"> <%= i18n.__('Contact') %></a></li>
        </ul>

    </div>
</nav>
