<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../../../Core/server/views/partials/header %>
</head>
<body class="container">

    <header>
        <% include ../../../../Core/server/views/partials/menu %>
    </header>

    <main>
      <h2>Profile</h2>
    </main>

    <footer>
        <% include ../../../../Core/server/views/partials/footer %>
    </footer>

</body>
</html>
