<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

    <header>
        <% include ../partials/menu %>
    </header>

    <main>
      <h1><span class="fa fa-sign-in"></span> Login</h1>
 <!-- show any messages that come back with authentication -->
  <% if (alert.length > 0) { %>
    <div class="alert alert-danger"><%= alert %></div>
  <% } %>

  <% if (success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
  <% } %>

  <% if (info.length > 0) { %>
    <div class="alert alert-info"><%= info %></div>
  <% } %>

<!-- LOGIN FORM -->
<form class="form-horizontal" action="/admin/signin" method="post">
  <div class="control-group">
    <!-- E-mail -->
    <label class="control-label" for="email">E-mail or username</label>
    <div class="controls">
      <input type="text" id="account" name="account" placeholder="" class="input-xxlarge">
    </div>
  </div>

  <div class="control-group">
    <!-- Password-->
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
    </div>
  </div>

  <div class="control-group">
    <!-- Button -->
    <div class="controls">
      <button class="btn btn-success">Sign me in!</button>
    </div>
  </div>
</form>

<hr>

<p>Lost your password? <a href="/admin/signin/lost">Lost password</a></p>
<p>Need an account? <a href="/admin/signup">Signup</a></p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
