<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
<body class="container">

    <header>
        <% include ../partials/menu %>
    </header>

    <main>
      <h1><span class="fa fa-sign-in"></span> Login</h1>
 <!-- show any messages that come back with authentication -->
  <% if (alert.length > 0) { %>
    <div class="alert alert-danger"><%= alert %></div>
  <% } %>

  <% if (success.length > 0) { %>
    <div class="alert alert-success"><%= success %></div>
  <% } %>

  <% if (info.length > 0) { %>
    <div class="alert alert-info"><%= info %></div>
  <% } %>

      <!-- LOGIN FORM -->
      <form action="/admin/signup" method="post">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" name="firstName">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="lastName">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
          <label>Re-type Password</label>
          <input type="password" class="form-control" name="password2">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
      </form>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

  </body>
  </html>
