<!-- image source: https://commons.wikimedia.org/wiki/File:Warehouse-plastic_industry2.jpg-->
<!-- views/pages/404.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
    <link rel="stylesheet" href="/css/misc.css">
</head>
<body class="container">

    <header>
        <% include ../partials/menu %>
    </header>

    <main>
      <img class="centeredImage" src="/img/Image_404.jpg" height=300px>
      <h1 class="centeredText"> Oops, apparently, you took the wrong turn </h1>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
